#index_content{
  background-image: url('/images/background-2492010.jpg');
}

#index_subcontent{
  top: 10%;
  background-color: unset;
  height: 60%;
}

#index_header{
  font-size: 2.15em;
}

#index_subheader{
  font-size: 1.25em;
}

#xrpintel_subcontent{
  top: 10%;
  height: 75%;
}

#xrpintel_header{
  right: 10px;
}

#xrpintel_subheader{
  font-size: 1em;
}

#zerptracker_subcontent{
  width: 80%;
  background-color: rgba(0, 0, 0, 0.45);
}

#syracloud_header{
  font-size: 1em;
}

#syracloud_subheader{
  right: 0;
  text-align: right;
}

#nethack_content{
  font-size: 50%;
}

#nethack_subheader1,
#nethack_subheader2{
  margin-top: 10px;
}

#about_subcontent{
  top: 10%;
}

#about_content{
  font-size: 75%;
}

#about_details{
  font-size: 1.1em;
}

#blog_subcontent{
  width: 90%;
}

#blog_header{
  padding: 0;
  width: 95%;
}
