.subcontent{
  top: 15%;
}

.nav_item{
  padding-right: 10px;
  padding-bottom: 15px;
}

#nav-wipple{
  padding-bottom: 10px;
}

#nav-about{
  padding-top: 7px;
  padding-bottom: 17px;
}

.center_img{
  max-width: 100%;
}

.horiz_imgs{
  flex-direction: column;
}
