.subcontent{
  top: 15%;
}

#nav a{
  padding-right: 10px;
}

#nethack_content{
  font-size: 50%;
}

#nethack_subheader1,
#nethack_subheader2{
  margin-top: 10px;
}

#about_content{
  font-size: 75%;
}
