/* fonts */

@font-face{
  font-family: Trench;
  src: font-url('trench100free.ttf') format('truetype'),
       font-url('trench100free-webfont.woff') format('woff'),
       font-url('trench100free-webfont.woff2') format('woff2');
}

@font-face{
  font-family: TimeBurner;
  src: font-url('timeburnernormal.ttf') format('truetype'),
       font-url('timeburnernormal-webfont.woff') format('woff'),
       font-url('timeburnernormal-webfont.woff2') format('woff');
}


/* site */

html, body{
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  font-family: Trench;
}

a{
  text-decoration: none; /* Remove underline */
}

/* content sections */

.content{
  top: 25%;

  width: 100%;
  height: 100%;

  background-size: 100% 100%;
}

.subcontent {
  position: absolute;
  top: 25%;
  left: 50px;
  width: 80%;
}


/* nav - general */

/* Style the links inside the sidenav */
.nav_item {
  position: absolute;
  left: -130px;

  width: 150px;
  height: 20px;
  padding: 10px;

  border-radius: 0 5px 5px 0;

  text-align: right;
  font-size: 20px;

  transition: 0.3s; /* transition on hover */
  color: white;
}

.nav_item:hover {
  left: 0;
}

.nav_icon{
  display: inline-block;
  width: 35px;
}

/* nav - specific */

#nav-home {
  top: 20px;
  background-color: #4CAF50;
}

#nav-wipple {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#nav-syracloud {
  top: 140px;
  background-color: #f44336; /* Red */
}

#nav-nethack {
  top: 200px;
  background-color: #bb5dbf; /* purple */
}

#nav-about {
  top: 260px;
  background-color: #555 /* Light Black */
}

/* footer */

#footer{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
}
