/* fonts */

@font-face{
  font-family: Trench;
  src: font-url('trench100free.ttf') format('truetype'),
       font-url('trench100free-webfont.woff') format('woff'),
       font-url('trench100free-webfont.woff2') format('woff2');
}

@font-face{
  font-family: TimeBurner;
  src: font-url('timeburnernormal.ttf') format('truetype'),
       font-url('timeburnernormal-webfont.woff') format('woff'),
       font-url('timeburnernormal-webfont.woff2') format('woff');
}

@font-face{
  font-family: Montserrat;
  src: font-url('Montserrat-Regular.otf') format('opentype');
}


/* site */

html, body{
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  font-family: Montserrat;
}

/* content sections */

.content{
  top: 25%;

  width: 100%;
  height: 100%;

  background-size: 100% 100%;
}

.subcontent {
  position: absolute;
}


/* nav - general */

/* Style the links inside the sidenav */
.nav_item {
  position: absolute;
  left: -130px;

  width: 150px;
  height: 20px;
  padding: 10px;

  border-radius: 0 5px 5px 0;

  text-align: right;
  font-size: 20px;
  font-family: Trench;

  transition: 0.3s; /* transition on hover */
  color: white;
}

.nav_item:hover {
  left: 0;
}

.nav_icon{
  display: inline-block;
  width: 35px;
}

a.nav_item{
  text-decoration: none; /* Remove underline */
}

/* nav - specific */

#nav-home {
  top: 20px;
  background-color: #4CAF50;
}

#nav-xrp1ntel {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#nav-syracloud {
  top: 140px;
  background-color: #f44336; /* Red */
}

#nav-nethack {
  top: 260px;
  background-color: #bb5dbf; /* purple */
}

#nav-about {
  top: 200px;
  background-color: #555 /* Light Black */
}

/* footer */

#footer{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
  font-family: Trench;
  font-size: 0.90em;
}

/* effects */

@keyframes grow{
  from {
    font-size: 1em;
  }
  to{
    font-size: 1.4em;
  }
}

.grow-anim{
  animation-name: grow;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes italics{
  from {
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform:skew(0deg, 0deg);
    -o-transform:skew(0deg, 0deg);
    -ms-transform:skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  to{
    -webkit-transform: skew(-20deg, 0deg);
    -moz-transform:skew(-20deg, 0deg);
    -o-transform:skew(-20deg, 0deg);
    -ms-transform:skew(-20deg, 0deg);
    transform: skew(-20deg, 0deg);
  }
}

.italics-anim{
  display: inline-block;
  animation-name: italics;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}
