---

title: 2019 in XRP
date: 2020-02-01 04:34 UTC
tags: 

---

<p>
Last month XRP Community member and author of <a href="https://www.xrparcade.com/">XRPArcade.com</a>, <a href="https://twitter.com/LeoHadjiloizou/">LeoHadjiloizou</a> contacted us indicating that he was writing a <a href="https://www.xrparcade.com/news/xrp-2019-yearly-report/">yearly summary</a> of the XRP ecosystem in 2019 and was looking for some data pertaining to on-ledger activity. Given that this is our area of expertise we immediately jumped to the call and started looking into what would be required to compile such data. Unfortunately due to the timing of the development and deployment of <a href="https://xrp1ntel.com">our analytics system</a> last year, we were missing the first few months of ledger data which had to be synced and benchmarked before the final report could be compiled. We setup a system locally to do this and a week later we were ready to go!
</p>

<p>
To start off, the baseline metric our analytics engine provides is <b>Ledgers Closed</b> which is fairly consistent and with low variance, given the continuous 2-4 consensus time enforced by the network. In the past year <b>8,339,126</b> total ledgers were closed with a monthly average of <b>694,927.17</b> ledgers and weekly average of <b>159,915.02</b> ledgers. The standard deviation from the monthly average was <b>23,077.53</b> ledgers, representing a <b>3%</b> variance.
</p>

<div style="display: flex; justify-content: space-evenly" class="horiz_imgs">
  <a href="/images/2019.stats/ledgers.closed.monthly.png" style="width: 45%;">
    <img src="/images/2019.stats/ledgers.closed.monthly.png" style="width: 100%;"/>
  </a>
  <a href="/images/2019.stats/ledgers.closed.weekly.png" style="width: 45%;">
    <img src="/images/2019.stats/ledgers.closed.weekly.png"  style="width: 100%;"/>
  </a>
</div>

<p>
The next metric computed is total transactions, which amounted to <b>352,039,969</b> last year, with an average TX rate of <b>42.68</b> transactions per ledger. November was the month seeing the highest number of transactions: <b>63,227,755</b> (avg: <b>95.79</b> per ledger) with December coming in at a close second: <b>55,662,502</b> (avg: <b>81.88</b> per ledger). Followers of our <a href="https://twitter.com/DevNullProd">twitter</a> may recall our <a href="https://twitter.com/DevNullProd/status/1200809278287822853">reporting</a> on a plethora of questionable transactions going through the network last November, many similar in nature, consisting of BTC micropayments from an unknown issuer being sent back and forth between a set of accounts. February saw the fewest total transactions, <b>14,556,183</b> while March saw the smallest average transaction rate, <b>20.29</b> per ledger.
</p>

<div style="display: flex; justify-content: space-evenly" class="horiz_imgs">
  <a href="/images/2019.stats/transactions.monthly.png" style="width: 20%">
    <img src="/images/2019.stats/transactions.monthly.png" style="width: 100%" />
  </a>

  <a href="/images/2019.stats/transactions.weekly.png" style="width: 20%">
    <img src="/images/2019.stats/transactions.weekly.png" style="width: 100%" />
  </a>

  <a href="/images/2019.stats/tx.rate.monthly.png" style="width: 20%">
    <img src="/images/2019.stats/tx.rate.monthly.png" style="width: 100%" />
  </a>

  <a href="/images/2019.stats/tx.rate.weekly.png" style="width: 20%">
    <img src="/images/2019.stats/tx.rate.weekly.png" style="width: 100%"/>
  </a>
</div>

<p>
Related to transactions are fees, which the network enforces on a per-tx basis. Fees more or less aligned with transaction patterns with the exception of July which saw an anomalous spike, most likely due to a misconfigured client on the network. Overall <b>601,755.70</b> XRP (<b>601,755,695,276</b> drops) was consumed in fees with a monthly average of <b>50,146.30</b> XRP and a weekly average of <b>11,537.63</b> XRP.
</p>

<div style="display: flex; justify-content: space-evenly" class="horiz_imgs">
  <a href="/images/2019.stats/fees.monthly.png" style="width: 45%">
    <img src="/images/2019.stats/fees.monthly.png" style="width: 100%" />
  </a>

  <a href="/images/2019.stats/fees.weekly.png" style="width: 45%">
    <img src="/images/2019.stats/fees.weekly.png" style="width: 100%" />
  </a>
</div>

<p>
Breaking transactions down by type, the XRPL processed <b>68,216,082</b> total payments last year, with an average of <b>5,684,673.5</b> per month. The number of payments in November (<b>34,103,937</b>) dwarfed of the previous months combined (<b>17,023,428</b>) by a factor of 100%. There was less variance in the number of offers created by month (total: <b>209,979,957</b>), the standard deviation being: <b>7,447,452.46</b>, or <b>3%</b>. March saw the fewest offers created (<b>8,061,435</b>) with December having the most (<b>29,537,933</b>) and July being a close second (<b>27,313,359</b>).
</p>

<div style="display: flex; justify-content: space-evenly" class="horiz_imgs">
  <a href="/images/2019.stats/payments.monthly.png" style="width: 20%">
    <img src="/images/2019.stats/payments.monthly.png" style="width: 100%" />
  </a>

  <a href="/images/2019.stats/payments.weekly.png" style="width: 20%">
    <img src="/images/2019.stats/payments.weekly.png" style="width: 100%" />
  </a>

  <a href="/images/2019.stats/offers.monthly.png" style="width: 20%">
    <img src="/images/2019.stats/offers.monthly.png" style="width: 100%" />
  </a>

  <a href="/images/2019.stats/offers.weekly.png" style="width: 20%">
    <img src="/images/2019.stats/offers.weekly.png" style="width: 100%" />
  </a>
</div>

<p>
The network saw a plethora of currencies go through it, including all the major fiat and digital ones. The total XRP volume was <b>456,718,135,629.3340</b>. Large anamoulous transactions resulted in spikes in the USD and CNY currencies in July and February respectively. Consistent payments in AUD, JPY, BTC, ETH, and XLM were present on the network throughout the year.
</p>

<p>
Offers on the other hand were dominated by the <b>XRP/CNY</b> and <b>CNY/XRP</b> pairs, whose volumes (<b>94,382,927</b> and <b>86,523,240</b>) dwarfed the next largest <b>XRP/USD</b> (<b>8,156,685</b>) and <b>USD/XRP</b> (<b>2,874,124</b>) by several orders of magnitude. Crypto/crypto and fiat/crypto pairings seemed to dominate the order books to a larger degree than fiat/fiat.
</p>

<div style="display: flex; justify-content: space-evenly" class="horiz_imgs">
  <a href="/images/2019.stats/payments.by.currency.png" style="width: 45%">
    <img src="/images/2019.stats/payments.by.currency.png" style="width: 100%" />
  </a>

  <a href="/images/2019.stats/offers.by.pair.png" style="width: 45%">
    <img src="/images/2019.stats/offers.by.pair.png" style="width: 100%" />
  </a>
</div>

<p>
Finally we have accounts created which saw a spike last summer in the May &amp; June timeframe, each month seeing approx <b>80K</b> new accounts, a rate of 1 account every <b>10</b> ledgers. September saw the fewest new accounts, merely <b>13,927</b>, a rate of 1 account every <b>50</b> ledgers. In total <b>408,872</b> new accounts were created last year, at an average rate of <b>0.049</b> accounts per ledger, or 1 account every <b>20.4</b> ledgers.
</p>

<div style="display: flex; justify-content: space-evenly" class="horiz_imgs">
  <a href="/images/2019.stats/accounts.monthly.png" style="width: 20%">
    <img src="/images/2019.stats/accounts.monthly.png" style="width: 100%" />
  </a>

  <a href="/images/2019.stats/accounts.weekly.png" style="width: 20%">
    <img src="/images/2019.stats/accounts.weekly.png" style="width: 100%" />
  </a>

  <a href="/images/2019.stats/account.rate.monthly.png" style="width: 20%">
    <img src="/images/2019.stats/account.rate.monthly.png" style="width: 100%" />
  </a>

  <a href="/images/2019.stats/account.rate.weekly.png" style="width: 20%">
    <img src="/images/2019.stats/account.rate.weekly.png" style="width: 100%"/>
  </a>
</div>

<p>
The complete yearly dataset can be found <a href="/files/2019-xrp-stats.xlsx">here</a>. You can also see various metrics and benchmarks on the XRPArcade <a href="https://www.xrparcade.com/news/xrp-2019-yearly-report/">2019 Yearly Report</a> (under <b>XRP Intelligence</b>). Going forward be sure to look for consistent XRP data and stats coming from Dev Null Productions as well as new metrics and an expanded and optimized reporting system (for quicker and better reports). Keep Zerping!
</p>
