---

title: XRP 2020 - Quarter 1
date: 2020-04-06 16:32 UTC
tags: 

---

<p>
With recent events around the COVID-19 pandemic still ongoing, the beginning of this quarter seems like eons ago yet the XRP ledger has been in continuous operation during this entire period. While the network has seen a drop in activity from the <a href="https://twitter.com/DevNullProd/status/1200463431431839744">plethora of transactions</a> which tested the network last fall, the XRPL is still undergoing sustained usage with variable periods of activity on different fronts. One notable benchmark is the <a href="https://twitter.com/DevNullProd/status/1242193606066057216">recent increase in account activity</a> which is still higher than typical averages. The exact cause for this is still unknown but could indicate increased interest in XRP technologies
</p>

<p>
As with our <a href="blog/2020/02/01/2019-in-xrp.html">yearly report</a>, we start with the baseline metric of <b>Ledgers Closed</b> which as expected is fairly consistent with low variance. In the last 3 months, <b>2,051,380</b> total ledgers were closed with a weekly average of <b>157,850.25</b> ledgers and an daily average of <b>22,793.11</b> ledgers.
</p>

<div style="display: flex; justify-content: space-evenly" class="horiz_imgs">
  <a href="/images/2020.q1.stats/ledgers.closed.weekly.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/ledgers.closed.weekly.png" style="width: 100%;"/>
  </a>
  <a href="/images/2020.q1.stats/ledgers.closed.daily.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/ledgers.closed.daily.png"  style="width: 100%;"/>
  </a>
</div>

<p style="text-align: center; margin-top: 0">
<i>Click on an image to expand</i>
</p>

<p>
The next metric computed is total transactions, which amounted to <b>90,949,838</b> last quarter, with an average rate of <b>1,010,553</b> transactions per ledger. 2020-01-06 was the week seeing the highest number of transactions: <b>11,599,975</b> (avg: <b>74.71</b> per ledger) with 2020-03-02 seeing the fewest, <b>6,979,812</b> total trasnactions (<b>38.04</b> per ledger). The standard deviation from the daily average was <b>330,982.60</b> transactions, representing a <b>32.75%</b> variance.
</p>

<div style="display: flex; justify-content: space-evenly" class="horiz_imgs">
  <a href="/images/2020.q1.stats/transactions.weekly.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/transactions.weekly.png" style="width: 100%" />
  </a>

  <a href="/images/2020.q1.stats/transactions.daily.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/transactions.daily.png" style="width: 100%" />
  </a>

  <a href="/images/2020.q1.stats/tx.rate.weekly.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/tx.rate.weekly.png" style="width: 100%" />
  </a>

  <a href="/images/2020.q1.stats/tx.rate.daily.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/tx.rate.daily.png" style="width: 100%"/>
  </a>
</div>

<p>
As far as fees burnt (recall every transaction on the XRPL consumes a small amount of XRP in fees), the network deducted <b>99,169.32</b> XRP overall (<b>99,169,322,795</b> drops) with a weekly average of <b>8,264.11</b> XRP and an daily average of <b>1,134.93</b> XRP. The day of 2020-03-15 saw an <a href="https://xrp1ntel.com/tx/AA7FC77B19391C7D6FDEF49ACA4594E7F36CE6B7E943793ECC6B160396AE1714">anomalous transaction</a> that needlessly burned a large amount of XRP (<b>26,057.85!</b>) in fees resulting in a large spike on total fees burnt on that day / week (always test your software <b>before</b> production!)
</p>

<div style="display: flex; justify-content: space-evenly" class="horiz_imgs">
  <a href="/images/2020.q1.stats/fees.weekly.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/fees.weekly.png" style="width: 100%" />
  </a>

  <a href="/images/2020.q1.stats/fees.daily.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/fees.daily.png" style="width: 100%" />
  </a>
</div>

<p>
Breaking transactions down by type, the XRPL processed <b>10,553,789</b> total payments last quarter, with an average of <b>821,136.33</b> per week, the week of 2020-01-06 seeing the most payments (<b>3,856,250</b>) and the week of 202-01-20 seeing the least (<b>354,051</b>). The standard deviation was <b>194,099.26</b> payments per week or <b>167.36%</b>. The network saw <b>62,027,963</b> total offers, with the week of 2020-01-06 corresponding to the most (<b>5,784,260</b>) and the week of 2020-02-10 having the least (<b>4,166,357</b>)
</p>

<div style="display: flex; justify-content: space-evenly" class="horiz_imgs">
  <a href="/images/2020.q1.stats/payments.weekly.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/payments.weekly.png" style="width: 100%; height: 100%" />
  </a>

  <a href="/images/2020.q1.stats/payments.daily.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/payments.daily.png" style="width: 100%; height: 100%" />
  </a>

  <a href="/images/2020.q1.stats/offers.weekly.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/offers.weekly.png" style="width: 100%; height: 100%" />
  </a>

  <a href="/images/2020.q1.stats/offers.daily.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/offers.daily.png" style="width: 100%; height: 100%" />
  </a>
</div>

<p>
Some payment/offer details:
</p>

<ul>
  <li>The total XRP payment volume was: <b>27,272,544.16 XRP</b></li>
  <li>The total USD payment volume was: <b>$21,427,464,531,827.992</b> this included a single transaction of ~21T USD not issued by actual currency (see <a href="/blog/2020/04/05/xrpl-on-ious.html">this</a> for more info)</li>
  <li>The total BTC payment volume was: <b>1,090,424,710.72</b></li>
  <li>
    <p>Payments currencies:</p>
    <pre style="overflow: auto;">XRP, USD, CNY, ZAR, CNT, ZEC, XCN, AUD, BTC, UPC, UPY, QAU, WCN, REP, ZCN, UPO, UPA, UPD, XLM, EUR, ETH, BCH, ETC, GCB, ULT, JPY, LTC, UPH, CCK, DSH, UPU, UPK, UPE, ALV, YCN, TOS, SSC, HGT, DOG, STR, RJP, RPL, MFS, BTR, CAD, UCD, MYN, ADA, WAR, OPT, SPD, DKS, EMX, SOL, DKC, BBB, FDB, MIN, RSC, XAU, MON, BKC, XNF, XMM, GBP, NZD, VTC, BRL, XAG, XPT, 534F4C4F00000000000000000000000000000000, CNC, ECT, DIC, ICE, INR, FCM, RBJ, XCC, DRP, KRW, RTS, JKC, BRC, RMB, CDT, LQD, LQB, ZNY, GDK, FDS, BCC, JED, XNV, XID, DCX, HKD, FMM, TTT, XPY, DAO, WBF, WWW, BBC, TTE</pre>
  </li>
  <li>
    <p>Currency pairs traded:</p>
    <pre style="overflow: auto;">XRP/CNY, CNY/XRP, XRP/USD, XRP/EUR, USD/XRP, XRP/XLM, XRP/BTC, EUR/XRP, DSH/XRP, XRP/ETC, BTC/XRP, USD/CNY, XRP/ETH, ULT/XRP, XRP/DSH, XRP/ULT, DSH/BTC, XRP/BCH, ULT/CNY, CNY/USD, CNY/ULT, USD/USD, XLM/XRP, CNY/CNY, BTC/DSH, BTC/BTC, USD/BTC, BTC/USD, BTC/ETH, DSH/EUR, ETH/XRP, XLM/CNY, DSH/USD, EUR/ETH, EUR/USD, CNY/XLM, JPY/USD, BTC/EUR, ETC/XRP, JPY/EUR, EUR/CNY, JPY/XRP, CNY/EUR, XRP/JPY, XRP/REP, ALV/XRP, EUR/BTC, BTR/XRP, BCH/XRP, MFS/XRP, USD/EUR, XAU/EUR, XAU/XRP, XRP/XAU, ETH/BTC, USD/MFS, CAD/ALV, XRP/RUB, UPC/XRP, UPO/XRP, UPK/XRP, XRP/SCZ, BTC/BCH, EUR/ETC, USD/BCH, UPU/XRP, BCH/EUR, EUR/REP, BTC/CNY, ETH/CNY, XRP/ALV, JPY/BTC, RUB/XRP, INR/XRP, ETH/USD, ETH/EUR, XRP/INR, EUR/DSH, XLM/BTC, USD/ETH, REP/XRP, CNY/BTC, CNY/ETH, BCH/USD, ULT/XLM, XRP/CAD, BTC/XLM, TOS/CNY, CNY/TOS, ALV/USD, JNG/XRP, USD/DSH, CAD/BTC, CAD/CNY, CAD/ETC, CAD/BCH, CAD/USD, CAD/XAU, CAD/STR, CAD/FMM, CAD/ETH, CAD/XRP, ETC/BCH, BTC/ETC, AUD/XRP, XRP/AUD, ETC/USD, HGT/USD, EUR/BCH, DSH/ETH, CNY/DSH, REP/ETH, KRW/XRP, USD/STR, USD/ETC, REP/EUR, XRP/KRW, XLM/ULT, XRP/LTC, LTC/XRP, ETH/DSH, LQD/XRP, XRP/XTL, XRP/LQD, BCH/ETH, XTL/XRP, RPL/XRP, XRP/FOO, EUR/XAU, MYN/XRP, ETC/EUR, CCK/USD, XRP/ILS, BCH/ETC, EOS/XRP, BCH/BTC, WAR/XRP, FMM/XRP, RSC/XRP, FMM/CNY, CNY/ETC, UCD/XRP, STR/XRP, UCD/USD, GBP/XRP, XNF/XRP, UCD/EUR, USD/ALV, CHF/XRP, ETH/REP, SCZ/XRP, JPY/JPY, USC/XRP, DSH/ETC, XRP/MFS, CDT/XRP, USD/UCD, CDT/USD, WWB/XRP, ADA/XRP, STR/XLM, USD/ULT, ULT/USD, CNY/XML, MXN/XRP, XRP/534F4C4F00000000000000000000000000000000, XMC/XRP, XKC/XRP, BRC/ALV, ALV/BRC, BRC/RMB, RMB/BRC, 534F4C4F00000000000000000000000000000000/XRP, XRP/SOL, XRP/CDT, MXN/CDT, CDT/MXN, CDT/BTC, RMG/XRP, XRP/RMG, XRP/UCD, XRP/ADA, UCD/XLM, GCB/XRP, ETH/BCH, ETC/DSH, ULT/BTC, ETC/ETH, BRL/XRP, ABC/XRP, MON/XRP, XRP/WAR, XRP/ABC, CDT/XLM, SGD/XRP, SGD/USD, XRP/GCB, BTS/XRP, XAU/USD, XRP/ZPR, ZPR/XRP, XRP/SGD, USD/CCK, XRP/RPL, XRP/YYY, YYY/XRP, WBF/XRP, XRP/WBF, XRP/WWW, WWW/XRP, WBF/USD, XRP/STR, XRP/BBC, EUR/XLM, BBC/XRP, XRP/GBP, ETC/BTC, USD/534F4C4F00000000000000000000000000000000, TTE/XRP</pre>
  </li>
</ul>

<p>
The network saw <b>63,283</b> new accounts last quarter, at an average rate of <b>4,846.42</b> per week or 1 account every <b>32.42</b> ledgers. The week of 2020-01-06 saw the most (<b>6,738</b>) and the week of 2020-01-20 saw the fewest (<b>3,256</b>).
</p>

<div style="display: flex; justify-content: space-evenly" class="horiz_imgs">
  <a href="/images/2020.q1.stats/accounts.weekly.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/accounts.weekly.png" style="width: 100%; height: 100%" />
  </a>

  <a href="/images/2020.q1.stats/accounts.daily.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/accounts.daily.png" style="width: 100%; height: 100%" />
  </a>

  <a href="/images/2020.q1.stats/account.rate.weekly.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/account.rate.weekly.png" style="width: 100%; height: 100%" />
  </a>

  <a href="/images/2020.q1.stats/account.rate.daily.png" style="padding: 5px">
    <img src="/images/2020.q1.stats/account.rate.daily.png" style="width: 100%; height: 100%"/>
  </a>
</div>

<p>
Finally the following is a list of some interesting articles &amp; news stories from our partner site <a href="https://xrparcade.com/">XRP Arcade</a>:
</p>

<ul>
  <li>
    <a href="https://www.xrparcade.com/news/hsbc-evaluating-ripple/">HSBC evaluating Ripple?</a>
  </li>

  <li>
    <a href="https://www.xrparcade.com/news/ripple-files-motion-to-dismiss-patent-infringement-case/">Ripple files motion to dismiss patent infringement case</a>
  </li>

  <li>
    <a href="https://www.xrparcade.com/news/bitpay-adds-xrp-for-thousands-of-merchants/">BitPay Adds XRP for Thousands of Merchants</a>
  </li>

  <li>
    <a href="https://www.xrparcade.com/news/brad-garlinghouse-from-davos-ipo-a-natural-evolution-for-ripple/">Brad Garlinghouse from Davos: IPO a natural evolution for Ripple</a>
  </li>

  <li>
    <a href="https://www.xrparcade.com/news/xrptipbot-twitter-account-suspended-developer-finds-solution-xrptip/">XRPTipBot Twitter account suspended, developer finds solution #xrptip</a>
  </li>

  <li>
    <a href="https://www.xrparcade.com/news/sbi-holdings-will-offer-xrp-as-a-benefit-to-shareholders/">SBI Holdings will offer XRP as a benefit to shareholders</a>
  </li>

  <li>
    <a href="https://www.xrparcade.com/news/xpring-is-listening/">Xpring is listening</a>
  </li>

  <li>
    <a href="https://www.xrparcade.com/news/patent-infringement-case-dismissed/">Patent infringement case against Ripple dismissed</a>
  </li>

  <li>
    <a href="https://www.xrparcade.com/news/ripples-bitpay-partnership-pays-dividends-xrp-now-available-to-100000-retailers/">Ripple’s BitPay partnership pays dividends: XRP now available to 100,000 retailers</a>
  </li>

  <li>
    <a href="https://www.xrparcade.com/news/chainalysis-adds-support-for-xrp/">Chainalysis adds support for XRP</a>
  </li>

  <li>
    <a href="https://www.xrparcade.com/news/ripple-strengthens-presence-in-apac-region-with-3-more-partners/">Ripple strengthens its presence in the APAC region with 3 more customers</a>
  </li>

  <li>
    <a href="https://www.xrparcade.com/news/santander-to-expand-ripple-powered-one-pay-fx-to-mexico/">Santander to expand Ripple powered One Pay FX to Mexico</a>
  </li>
</ul>

<p>
The complete dataset which was used to generate the metrics above can be found <a href="/files/2020q1-xrp-stats.xlsx">here</a>.
</p>
