---

title: New XRP Intel Features
date: 2020-07-01 22:52 UTC
tags: 

---

<p>
Come one, come all... be sure to checkout the newly deployed features to <a href="https://xrpintel.com">xrpintel</a>!
</p>

<ul>
  <li>New <b>Deleted Accounts</b> metric - tallies the number of accounts deleted in the reporting period</li>

  <li>Expanded <b>Transactions By Result</b> metric to highlight / always tweet <b>Critical Transactions</b>. Right now this just includes <b>tecINVARIANT_FAILED</b> (the final XRPL failsafe ensuring ledger state stays sane &amp; valid), though others may be added in the future</li>

  <li>
    <p>New ledger and transaction controls: Switch between <b>formatted</b> and <b>raw</b> JSON, expand and collapse all fields.</p>
    <a href="/images/2020-07-01.xrpintel.1.png"><img src="/images/2020-07-01.xrpintel.1.png" style="width: 100%; max-width: 500px" /></a>
  </li>

  <li>
    <p>Specific reports now break down stats within that period, see metrics pertaining to <b>days in a given month/week</b> &amp; <b>hours within a given day</b></p>
    <a href="/images/2020-07-01.xrpintel.2.png"><img src="/images/2020-07-01.xrpintel.2.png" style="width: 100%; max-width: 500px" /></a>
  </li>

  <li>
    <p>Charts now incorporate high level statistics including <b>average, median, and standard deviation</b>. Click on a stat to view on the chart.</p>
    <a href="/images/2020-07-01.xrpintel.3.png"><img src="/images/2020-07-01.xrpintel.3.png" style="width: 100%; max-width: 150px" /></a>
  </li>

  <li>Report metrics have been added to the <a href="https://xrpintel.com/api#metrics">API Documentation</a></li>

  <li>Finally the xrp1ntel project has now been deprecated and is no longer available. Users should access the frontend via <a href="https://xrpintel.com">xrpintel.com</a> and the API via <a href="https://api.xrpintel.com">api.xrpintel.com</a></li>
</ul>

<p>Stay tuned for more exciting features coming soon!</p>
