<div id="nav">
  <a id="nav-home"      class="nav_item" href="/">/dev/null <span class="nav_icon">♕</span></a>
  <a id="nav-xrp1ntel"  class="nav_item" href="/xrp1ntel.html">xrp1ntel <span class="nav_icon">$</span></a>
  <a id="nav-syracloud" class="nav_item" href="/syracloud.html">SyraCloud <span class="nav_icon">⛈</span></a>
  <a id="nav-nethack"   class="nav_item" href="/nethack.html">Nethack <span class="nav_icon">♘</span></a>
  <a id="nav-about"     class="nav_item" href="/about.html">About Us <span class="nav_icon">✉</span></a>
</div>
