<div id="nav">
  <a id="nav-home"      href="/">/dev/null ♕</a>
  <a id="nav-wipple"    href="/wipple.html">Wipple $</a>
  <a id="nav-syracloud" href="/syracloud.html">SyraCloud ☁</a>
  <a id="nav-nethack"   href="/nethack.html">Nethack ♘</a>
  <a id="nav-about"     href="/about.html">About Us ☏</a>
  <!-- omega, awesyn-->
</div>
