<div id="about_content" class="content">
  <div id="about_subcontent" class="subcontent">
    <h1 id="about_header">
      Who We Are
    </h1>

    <div style="clear: both"></div>

    <div id="about_details">
      Started in 2018, <span style="color: red"><b>Dev Null</b></span> is a <span style="color: green">Software Production Company</span> based out of NY.
      <br/><br/>

      Experts in many different fields and technologies, we have developed solutions in the following domains:

      <ul style="list-style: none;">
        <li>Financial Analysis and Engineering</li>
        <li>Audio Synthesis</li>
        <li>Computer Gaming and Interactions</li>
        <li>Network and Web Infrastructure and Content</li>
      </ul>

      <br/>
      You may contact Dev Null Productions by emailing: <a href="mailto:devnullproductions@gmail.com">devnullproductions@gmail.com</a>
      <br/>
      <br/>

      Read about latest happenings <b><a href="/blog">here</a></b> and be sure to follow us on
      <a href="http://twitter.com/DevNullProd">
        <img src="/images/twitter.png" style="width: 20px; height: 15px;"/>
      </a>!
    </div>
  </div>
</div>

<%= partial :nav %>

<div style="color: white">
  <%= partial :footer %>
</div>
