<div id="index_content" class="content">
  <div id="index_subcontent" class="subcontent">
    <h1 id="index_header">
      DEV NULL PRODUCTIONS
    </h1>

    <div style="clear: both"></div>

    <h2 id="index_subheader">
      Hacking The Future Together!
    </h2>
  </div>
</div>

<%= partial :nav %>

<div style="color: white">
  <%= partial :footer %>
</div>
