<div id="index_content" class="content">
  <div id="index_subcontent" class="subcontent">
    <h1 id="index_header">
      DEV NULL PRODUCTIONS
    </h1>

    <div style="clear: both"></div>

    <h3 id="index_subheader">
      Engineering solutions for<br/><span style='color: #ADD6FF'>The <b>Digital Age</span>
    </h3>
  </div>
</div>

<%= partial :nav %>

<div style="color: white">
  <%= partial :footer %>
</div>
