<div id="nethack_content" class="content">
  <div id="nethack_subcontent" class="subcontent">
    <h2 id="nethack_subheader">
      Download <span class="italics-anim">The Official Guide</span> to the

      <a href="http://thegreatestgameyouwilleverplay.com/" style="color: yellow;">
        World's Biggest Game
      </a><br/>on

      <a href="https://play.google.com/store/apps/details?id=org.morsi.android.nethack.redux" style="color: red;">
        Google Play
      </a> Today!
    </h2>
  </div>
</div>

<%= partial :nav %>

<%= partial :footer %>
