<div id="nethack_content" class="content">
  <div id="nethack_subcontent" class="subcontent">
    <h1 id="nethack_header">
      The Nethack Encyclopedia
    </h1>

    <div style="clear: both"></div>

    <h2 id="nethack_subheader1">
      You are eaten by a <b>Grue</b>!!!
    </h2>

    <div style="clear: both"></div>

    <h2 id="nethack_subheader2">
      Download <b><i>The Guide</i></b> to the

      <a href="http://thegreatestgameyouwilleverplay.com/" style="color: yellow;">
        World's Biggest Game
      </a> on

      <a href="https://play.google.com/store/apps/details?id=org.morsi.android.nethack.redux" style="color: red;">
        Google Play
      </a> Today!
    </h2>

    <img id="nethack_screenshot" src="/images/nethack1.png"/>
  </div>
</div>

<%= partial :nav %>

<div style="color: white">
  <%= partial :footer %>
</div>
