<div id="syracloud_content" class="content">
  <div id="syracloud_subcontent" class="subcontent">
    <h1 id="syracloud_header" class="content_header">
      <a href="https://syracloud.net">syracloud.net</a>
    </h1>

    <h2 id="syracloud_subheader">
      The <a href="https://syracloud.net" style="color: #FF9200;">SyraCloud</a> XRP Validator
    </h2>
  </div>
</div>

<%= partial :nav %>

<div style="color: white">
  <%= partial :footer %>
</div>
