<div id="syracloud_content" class="content">
  <div id="syracloud_subcontent" class="subcontent">
    <h1 id="syracloud_header">
      syracloud.net
    </h1>

    <h2 id="syracloud_subheader">
      The <a href="http://syracloud.net" style="color: red;">SyraCloud</a> XRP Validator (coming soon)
    </h2>
  </div>
</div>

<%= partial :nav %>

<div style="color: white">
  <%= partial :footer %>
</div>
