<div id="wipple_content" class="content">
  <div id="wipple_subcontent" class="subcontent">
    <h1 id="wipple_header">
      WIPPLE
    </h1>

    <h2 id="wipple_subheader">
      The Future of Money is on the BlockChain: <b><a href="http://wipple.devnull.network/" style="color: red;">ANALYZE IT</a></b>
    </h2>
  </div>
</div>

<%= partial :nav %>

<%= partial :footer %>
