<div id="xrp1ntel_content" class="content">
  <div id="xrp1ntel_subcontent" class="subcontent">
    <h1 id="xrp1ntel_header">
      <a href="https://xrp1ntel.com" style="text-decoration: none; color: inherit">xrp1ntel</a>
    </h1>

    <h2 id="xrp1ntel_subheader">
      The Future of <span style="color: lime;" class="grow-anim">Money</span> is on the BlockChain: <b><a href="https://xrp1ntel.com/" style="color: gold;">ANALYZE IT</a></b>
    </h2>
  </div>
</div>

<%= partial :nav %>

<div style="color: white">
  <%= partial :footer %>
</div>
