<div id="xrpintel_content" class="content">
  <div id="xrpintel_subcontent" class="subcontent">
    <h1 id="xrpintel_header" class="content_header">
      <a href="https://xrpintel.com">xrpintel</a>
    </h1>

    <h2 id="xrpintel_subheader">
      The Future of <span style="color: lime;" class="grow-anim">Money</span> is on the BlockChain: <b><a href="https://xrpintel.com/" style="color: gold;">ANALYZE IT</a></b>
    </h2>
  </div>
</div>

<%= partial :nav %>

<div style="color: white">
  <%= partial :footer %>
</div>
