<div id="zerptracker_content" class="content">
  <div id="zerptracker_subcontent" class="subcontent">
    <h1 id="zerptracker_header" class="content_header">
      <a href="https://zerptracker.com">Zerp Tracker</a>
    </h1>

    <h2 id="zerptracker_subheader">
      Monitor the XRP Ledger... <a href="https://zerptracker.com" style="color: #d1ddff">get notified</a> via email, sms, &amp; more
    </h2>
  </div>
</div>

<%= partial :nav %>

<div style="color: white">
  <%= partial :footer %>
</div>
